a {
    color: var(--color-on-surface-subtle);
    cursor: pointer;
    font-family: Geist;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 16px;
    transition: background-color .25s;
    --paper-item-icon-width: 36px;
    padding: 8px;
    margin-inline: 16px;
    min-height: max-content;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

a:hover {
    background-color: var(--color-state-hover);
}

a:active {
    background-color: var(--color-state-active);
}

a > paper-button {
    margin: 0;
    padding: 0;
    display: block;
    min-width: min-content;
}

a > paper-button > iron-icon {
    width: 20px;
    height: 20px;
}