*, :host, :host * {
    box-sizing: border-box
}

:host {
    @apply --layout-vertical;
    --accent-color: #007dfc;
    --primary-background-color: #0a3b71;
    --sidebar-default-color: rgba(255, 255, 255, 0.5);
    --divider-color: #dadce0;
    --border-color: #eeeeef;
    --icon-color: #202124;
    --external-icon-color: var(--google-grey-700);

    --surface-01-enabled: #525252;
    --color-key-default: #ffffff;
    --color-key-error: #ff5359;
    --color-key-primary: #578cff;
    --color-key-success: #05a831;
    --color-key-warning: #e96d00;

    --color-border: #aaabb1;
    --color-border-subtle: #2e3035;

    --color-surface-0: #111318;
    --color-surface-1: #191c20;
    --color-surface-2: #37393e;
    --color-surface-canvas: #111318;

    --color-inverse-surface: #f9f9ff;
    --color-inverse-on-surface: #111318;
    --color-inverse-primary: #006efe;

    --color-on-error-container: #ffedea;
    --color-on-primary-container: #ffffff;
    --color-on-surface: #ffffff;
    --color-on-surface-subtle: #aaabb1;

    --color-surface-container-high: #32353a;
    --color-container-surface: #1d2024;
    --color-surface-container-low: #0c0e13;
    --color-container-error: #ee0033;
    --color-container-primary: #006efe;

    --color-state-hover: #ffffff14;
    --color-state-selected: rgba(255, 255, 255, 0.16);
    --color-state-active: #00000029;
    
    --color-elevation-02: rgba(0, 0, 0, 0.12);
    --color-elevation-04: rgba(0, 0, 0, 0.12);
    --color-elevation-inset: rgba(255, 255, 255, 0.16);
    --color-elevation-2-shadow: rgba(0, 0, 0, 0.16);
    --color-elevation-3-shadow: rgba(0, 0, 0, 0.32);
    --color-elevation-4-shadow: rgba(0, 0, 0, 0.48);
    --color-elevation-5-shadow1: rgba(0, 0, 0, 0.48);
    --color-elevation-5-shadow2: rgba(0, 0, 0, 0.48);

    --iframe-link: {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
}

.flex {
    flex: 1
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(238, 238, 239, 0.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#MainDrawer {
    color: white;
    --app-drawer-content-container: {
        background-color: var(--color-surface-0) !important;
        display: flex !important;
        flex-direction: column !important;
    }
}

app-drawer-layout {
    --app-drawer-width: 240px;
}

app-drawer-layout[narrow] #MainDrawer {
    --app-drawer-content-container: {
        box-shadow: 0 0 6px -1px #000;
    }
}

#PageLoader {
    @apply --layout-fullbleed;
    @apply --layout-center-center;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background: #f1f3f4;
    z-index: 1;
}

#MainDrawer .logo {
    margin: 24px 24px 24px 24px;
}

#MainDrawer a:hover {
    text-decoration: none;
}

#MainDrawer iframe-link:hover, #MainDrawer iron-selector>a:hover {
    text-decoration: none;
}

#MainDrawer iron-selector.flex {
    overflow: auto;
}

#MainDrawer .menu-item {
    color: var(--color-on-surface-subtle);
    cursor: pointer;
    font-family: Geist;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 16px;
    transition: background-color .25s;
    --paper-item-icon-width: 36px;
    padding: 8px;
    margin-inline: 16px;
    min-height: min-content;
    border-radius: 4px;
}

#MainDrawer .inner-menu-item {
    min-height: 36px;
    padding-inline: 16px 0;
}

#MainDrawer .section-item {
    margin-bottom: 0;
    border-bottom:1px ;
    position: relative;
}

#MainDrawer iron-icon {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

#MainDrawer .divider {
    width: 90%;
    margin: 1em auto;
    border-bottom: 1px solid var(--sidebar-default-color)
}

#MainDrawer .menu-item:hover {
    background-color: var(--color-state-hover)
}

#MainDrawer .iron-selected {
    color: var(--color-on-surface);
    background-color: var(--color-state-selected);
    box-shadow: 0px 0px 0px 1px var(--color-elevation-2-shadow) inset;
}

#MainDrawer .footer {
    padding: 1.25rem;
    font-size: .9em;
    color: var(--sidebar-default-color);
    line-height: 1.5em
}

#MainDrawer .footer>.build {
    font-size: .9em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.64)
}

app-toolbar {
    @apply --layout-horizontal;
    @apply --layout-center;
    background: white;
    transition: background .25s;
}

app-toolbar>header {
    margin-top: auto;
}

#Narrow-Slider {
    @apply --layout-horizontal;
    @apply --layout-center;
}

#Narrow-Slider[hidden] {
    display: none;
}

#Narrow-Slider>.Logo {
    margin: 0;
    color: var(--logo-color, var(--primary-background-color));
}

#Narrow-Slider>.Logo>svg {
    height: 24px;
    margin-top: 4px;
}

#Narrow-Slider>.Logo>svg * {
    fill: currentColor;
}

#NamespaceSelector {
    flex-basis: 33%;
}

#NamespaceSelector>paper-dropdown-menu {
    color: var(--accent-color);
    --paper-input-container-focus-color: var(--accent-color);
}

#ViewTabs {
    @apply --layout-horizontal;
    @apply --layout-center-justified;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

paper-tabs {
    --paper-tabs-selection-bar-color: var(--accent-color);
    --paper-tab-ink: var(--accent-color);
    --paper-tabs-selection-bar: {
        border-radius: 50px 50px 0 0;
        border-width: 3px;
    }
}

paper-tab {
    padding: 0 2em;
}

paper-tab.iron-selected {
    color: var(--accent-color)
}

paper-tab[link] a {
    /* These mixins (from iron-flex-layout) center the link text. */
    @apply --layout-horizontal;
    @apply --layout-center-center;
    color: var(--paper-tabs-selection-bar);
    text-decoration: none;
}

paper-tab[link] a:hover {
    text-decoration: none;
}

app-header {
    box-shadow: 0 2px 6px 1px rgba(232, 234, 237, 0.5), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

app-header-layout {
    @apply --layout-vertical
}

#Content {
    @apply --layout-vertical;
    background: #f1f3f4;
    height: 100%;
}

neon-animated-pages {
    height: 100%;
}

neon-animatable {
    @apply --layout-vertical;
    background: #f1f3f4;
    height: 100%;
}

#User-Badge {
    right: 16px;
    position: absolute;
}

#User-Badge .icon {
    color: var(--primary-background-color);
}

#Menu {
    --paper-icon-button: {
        width: 44px;
        height: 44px;
        color: var(--primary-background-color);
    }
}

#MainDrawer .menu-item iron-icon.external {
    width: .75em;
    transform: translateY(-25%);
    margin-left: .25em;
}

#MainDrawer .footer .bullet {
    margin: 0 .5em;
    display: inline-block;
}

#MainDrawer .footer .bullet:before {
    content: ' ';
    display: inline-block;
    height: 0;
    width: 0;
    padding: 2px;
    border-radius: 50%;
    background: currentColor;
    transform: translateY(-50%);
}

#ErrorToast {
    background: var(--google-red-500);
    color: white;
    padding: .75em 1.5em;
    @apply --layout-horizontal;
    @apply --layout-center;
    --paper-icon-button: {
        color: white;
        margin-left: 1em;
        padding: 5px;
        width: 32px;
        height: 32px;
    }
}


[hides] {
    transition: opacity .25s
}

[hidden] {
    opacity: 0;
    pointer-events: none
}

[hidden]:not([hides]) {
    display: none !important
}

a[href] {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a[href]:hover, iframe-link:hover {
    color: var(--paper-blue-700);
    text-decoration: underline;
}
